<h2>Register</h2>
<span *ngIf="error" class="error">{{error}}</span>
<form name="sigIn" novalidate="false" #myForm (submit)="addUser()">
	<div>
		<label for="code">Code: </label>
		<input required type="text" name="code" [(ngModel)]="data.code">
	</div>
	<div>
		<label for="name">Full name: </label>
		<input required type="text" name="name" [(ngModel)]="data.name">
	</div>
	<div>
		<label for="email">Email: </label>
		<input email required type="email" name="email" [(ngModel)]="data.email">
	</div>
	<div>
		<label for="password">Password: </label>
		<input required type="password" name="password" [(ngModel)]="data.password">
	</div>
	<a routerLink="/login">Cancel</a>
	<button>Sign up</button>
</form>